.App {
  font-family: cursive;
}
.App-body {
  background-color: #94bbe9;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(119, 105, 105, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 25px;
}
.Footer {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.profile-link {
  text-decoration: none;
}

.main-temp {
  float: left;
  font-size: 60px;
  line-height: 1;
  margin: 5px 0 0 5px;
}
.temp-units {
  font-size: 16px;
  line-height: 1;
  position: relative;
}
.forecast-temp,
.parameters {
  color: rgb(245, 25, 25);
}
.forecast-min {
  opacity: 0.5;
}
.weather-icon {
  margin-top: 10px;
}

li {
  list-style-type: none;
}
