.App {
  font-family: cursive;
}
.App-body {
  background-color: #6a7c9e;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(119, 105, 105, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 15px;
}
.Footer {
  text-align: center;
  font-size: 14px;
}
.weather-con {
  display: flex;
}
.main-temp {
  font-size: 60px;
  line-height: 1;
  margin-top: 5px;
}
.temp-units {
  font-size: 16px;
  line-height: 1;
  margin-top: 5px;
}
.weather-icon {
  margin-top: -10px;
}
.weather-description {
  text-transform: capitalize;
}
li {
  list-style-type: none;
}
